/node_modules
/.pnp.js
/.pnp.ts
/yarn.lock
/package-lock.json
/next.lock
/coverage
/.nyc_output
/.next/
/out/
/dist/
/.rpt2_cache/
/.sass-cache/
/.vscode/
/.cache/
/next-swc-cache/
/next-env.d.ts
/next.config.js
/next.config.ts
/regular-resonance
.astro
